// place your custom styles here
#main-title {
  background: linear-gradient(120deg, var(--theme-color-light), var(--theme-color) 35%,);
  background-clip: text;
}

.vp-hero-info {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.vp-feature-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.vp-navbar .vp-nav-item>.nav-link::after {
  background: #005BFF;
}